.etoile {
  color: rgb(255, 195, 0);
}

#back{
  background-image: url(https://cdn.discordapp.com/attachments/892028003289301084/916322919150391306/GV3QZBp581hNYk68cVFFuBtRVkIqrYg3vBrWvfboX6XT_tGak1SPsJXatTiIDvuk5cxhMJJ3IR60qZ7YkRB5Swh0YHsmIy4vU9m4fpze63XpOG_WUvJGZw9wtUgkqik.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#ecran-compte{
    top: 4em;
    height: 100%;
    width: 100%;
    position: relative;
  }

/* Carte Profil*/
.gauche {

  display: inline-block;
width: 49%;
height: 100%;
}

 
.droite {
  
  display: inline-block;
width: 49%;
height: 100%;
}
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
    width: 40vh;
    position: absolute;
    left:8%;
   
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .profil {
    padding: 2px 16px;
    width: 40vh;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

 #joueur {
  border-radius: 5px 5px 0 0;
  position: relative;
  right: 1px; 
  width: 40vh;

 }

 #jouerBtn
 {
   display: flex;
   justify-content: center;
   background-color: #dd94cb;
   border-color: #dd94cb;


 }

 #jouerBtn:hover
 {
   background-color: #ce28a5;
   border-color: #ce28a5;

 }

 /* Historique*/



#historique
  {

   width:100vh;
   position: absolute;
  }

.list-group {
  width:90%;
  display: flex;
justify-content: center;
align-items:center;

}

#list-titre {
  margin-left: auto;
  margin-right: auto;
  width: 50%; 

}

#blocTitre {
background-color:#dd94cb;
border-color: #dd94cb;

}


