#ecran-compte{
  top: 7vh;
  height: 93vh;
  width: 100%;
  position: relative;
  background-image: url(https://cdn.discordapp.com/attachments/892028003289301084/916322919150391306/GV3QZBp581hNYk68cVFFuBtRVkIqrYg3vBrWvfboX6XT_tGak1SPsJXatTiIDvuk5cxhMJJ3IR60qZ7YkRB5Swh0YHsmIy4vU9m4fpze63XpOG_WUvJGZw9wtUgkqik.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.etoile {
  color: rgb(255, 195, 0);
}


/* Carte Profil*/
.gauche {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  align-items: center;
}

 
.droite { 
  width: 50%;
  justify-content: center;
  position: relative;
  top: 0;
  display: flex;

}
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 40vh;
    position: absolute;
    left:8%;
    background-color: rgba(245, 245, 245, 0.8)
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .profil {
    /* padding: 2px 16px; */
    /* width: 40vh; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 77%; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* justify-self: center; */
    text-align: center;
  }

 #joueur {
  border-radius: 5px 5px 0 0;
  position: relative;
  right: 1px; 
  width: 40vh;

 }

 #jouerBtn
 {
  position: relative;
   background-color: #dd94cb;
   border-color: #dd94cb;
   top: 40%;
 }

 #jouerBtn:hover
 {
   background-color: #ce28a5;
   border-color: #ce28a5;
 }

 #basgauche{
  top: 40%;
  position: relative;
  width: 50%;
  justify-content: center;
  display: flex;
 }

 #modifierBtn{
  background-color: #53a1b4;
  border-color: #53a1b4;
  justify-content: center;
} 

#modifierBtn:hover
{
  background-color: #1390af;
  border-color: #1390af;
}



 /* Historique*/
 #historique
  {
    /* width: 100%; */
    position: absolute;
    justify-content: center;
    /* justify-items: center; */
    padding: 2%;
    display: flex;
    height: 93vh;
    width: 50vh;
    /* align-content: center; */
    align-items: center;
  } 

.list-group {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  width: 100%;
}

#list-titre {
  margin-left: auto;
  margin-right: auto;

}

#blocTitre {
background-color:#dd94cb;
border-color: #dd94cb;

}

.image{
  width: 30%;
  padding: 1px;
  justify-self: center;
}

#info{
  text-align: center;
  width: 100%;
  align-items: center;
  left: 0;
  justify-content: left;
}

.list-group-item{
  display: flex;
}

h5{
  font-size: 2vh;
}

