

<div id="ecran-gestion">
    <body>
        
    
    <section class="hero-section">
        <div class="card-grid">
            <a class="card" [routerLink]="['/gestionAdmin/boutique/etoile']">
                <div class="card__background" style="background-image: url(../../assets/images/pascal_robe.jpg)"></div>
                <div class="card__content">
                    <h3 class="card__heading">Etoile</h3>
                </div>
            </a>
            <a class="card" [routerLink]="['/gestionAdmin/boutique/vie']">
                <div class="card__background" style="background-image: url(../../assets/images/genie_aladdin.jpg)"></div>
                <div class="card__content">
                    <h3 class="card__heading">Vie</h3>
                </div>
            </a>
            <a class="card" [routerLink]="['/gestionAdmin/boutique/personnage']">
                <div class="card__background" style="background-image: url(../../assets/images/magie_disney.jpg)"></div>
                <div class="card__content">
                    <h3 class="card__heading">Personnages</h3>
                </div>
            </a>
                <a class="card" [routerLink]="['/gestionAdmin']">
                    <div class="card__background"
                        style="background-image: url(../../assets/images/lampe_magique_aladdin.jpg)"></div>
                    <div class="card__content">
                        <h3 class="card__heading">Retour</h3>
                    </div>
                </a>
        </div>
    </section>

</body>


</div>
    

