<div id="ecran-update-plateau" *ngIf="id == -1">
    <div class="cardTableau">
        <div class="card mt-3 ">
            <div class="card-header headerTableau">
                <h1 class="card-title">Mise à jour des plateaux
                    <button class="rounded-circle headerTableau top-right btn" type="button"
                        [routerLink]="['/gestionAdmin/plateau']">
                        <em class="fas fa-arrow-left"></em>
                    </button>
                </h1>
            </div>
            <div class="card-body">
                <!-- <h1 class="card-title">Mise à jour des plateaux
                <button class="rounded-circle top-right btn btn-info" type="button" [routerLink]="['/gestionAdmin/plateau']">
                <em class="fas fa-arrow-left"></em>
            </button>
            </h1> -->

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Nombre de cases</th>
                            <th>Plateau disponible pour les joueurs</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plateau of listPlateauDejaCree" class="cliquable">
                            <td (click)="plateauDetail(plateau)">{{plateau.nom}}</td>
                            <td (click)="plateauDetail(plateau)">{{plateau.nbCases}}</td>
                            <td (click)="plateauDetail(plateau)">{{plateau.disponible}}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-primary" (click)="plateauDetail(plateau)"><i
                                            class="bi bi-pencil-square"></i></a>
                                            &nbsp;
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                        title="On ne peut pas supprimer un plateau déjà utilisé pour une partie">
                                        <button class="btn btn-danger trashDisabled" [disabled]="plateau.dejaUtilise"
                                            (click)="recuperePlateau(plateau)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i></button>
                                    </span>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Supression du plateau:
                    {{plateau.nom}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Etes-vous sur de vouloir supprimer ce plateau?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                <button type="button" class="btn btn-primary" (click)="delete(plateau)"
                    data-bs-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div> -->




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Supression du plateau:
                {{plateau.nom}}</h5>
        </div>
        <div class="modal-body">
            Etes-vous sur de vouloir supprimer ce plateau?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
            <button type="button" class="btn btn-primary" (click)="delete(plateau)"
                data-bs-dismiss="modal">Valider</button>
        </div>
      </div>
    </div>
  </div>


<app-gestion-plateau titre="Modification du plateau" [idPlateau]="id" *ngIf="id != -1">
</app-gestion-plateau>