<div>

    <!-- <div class="background"> -->
    <div id="bloc_page">
        <header>

            <!--div haut-->
            <div class="haut">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">


                    <div class="container-fluid">
                        <!-- logo jeu  -->
                        <div id="logo">
                            <img src="../../assets/images/logoPrincessA.png" class="logo_menu" />
                        </div>


                        <!-- Nombre d'etoiles joueur -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                           
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/compte']" routerLinkActive="activebutton">Mon
                                        compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" [routerLink]="['/jeu']"
                                        routerLinkActive="activebutton">Le jeu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/boutique']" routerLinkActive="activebutton">La
                                        boutique</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="nombreEtoilesJoueur">Nombre d'étoiles:
                                        {{joueur.nbEtoiles}} <i class="fas fa-star etoile"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nombreEtoilesJoueur">Nombre de vies:
                                        {{joueur.life}} <i class="fas fa-heart coeur"></i></a>
                                </li>
                            </ul>
                        </div>


                        <!-- bouton panier -->
                        <div class="btn-group dropdown dropdown-pull-right" id="boutonPanier">
                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-shopping-cart fa-2x panier"></i><span
                                    class="badge badge-primary badge-pill"
                                    id="nombreElementsDansPanier">{{listeEtoilesPanier.length}}</span>
                            </button>
                            <div class="dropdown-menu contenuPanier">
                                <span *ngIf="listeEtoilesPanier.length>0" style="font-weight: bold;">Liste des étoiles
                                    dans le panier : </span>
                                <ul id="listePanierEtoile" class="monPanier" *ngIf="listeEtoilesPanier.length>0"
                                    (click)="$event.stopPropagation()">
                                    <!-- <div *ngIf="listePersonnagesPanier.length>0" id="listePersosPanier"> -->
                                    <li *ngFor="let etoile of listeEtoilesPanier"> Package {{etoile.nombre}} <i
                                            class="fas fa-star etoile"></i> : {{etoile.prix}}<i
                                            class="fas fa-euro-sign"></i>
                                        <button type="button" class="btn " (click)="removeEtoile(etoile.id)"> <i
                                                class="far fa-trash-alt poubelle"></i> </button>
                                        <!-- construit par la methode afficherListePersoPanier -->
                                        <!-- </div> -->
                                        <div class="dropdown-divider"></div>
                                </ul>
                                <div *ngIf="listeEtoilesPanier.length>0">
                                    <li>Total de la commande: <span class="montantTotalPanier"> {{prixTotalPanier}} <i
                                                class="fas fa-euro-sign"></i></span></li>
                                </div>
                                <div *ngIf="listeEtoilesPanier.length>0">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#validerPanierModal1" (click)="afficheRecapCommande()">
                                        Valider le panier
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#viderPanierModal2" id="viderPanier">Vider le
                                        panier</button>
                                </div>
                                <div *ngIf="listeEtoilesPanier.length==0">
                                    Votre panier est vide
                                </div>
                            </div>

                        </div>


                        <!-- avatars -->
                        <!-- mettre le logo à gauche de la navbar -->
                        <a class="navbar-brand" href="#">Joueur</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="dropdown dropdown-pull-right btn-group">
                        <div class="btn-group dropdown dropdown-pull-right cursor-top-r" *ngIf="pageConnexionService.isJoueur()">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link deconnexion" (click)=deconnexion()>Deconnexion</a>
                              </li>
                            </ul>
                  
                            <a id="btnGroupDrop1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <img src={{this.pageConnexionService.compte.avatar.image}} class="logo_admin rounded-circle"
                                id="avatarAdmin" />
                            </a>
                  
                            <ul class="dropdown-menu " id="avatars">
                              <li class="d-flex row liAvatar" >
                                <a class="dropdown-item choixAvatar col-3" *ngFor="let avatar of this.avatarService.avatars"><img id={{avatar.id}} (click)="changeAvatar(avatar)"
                                    src={{avatar.image}} class="logo_avatar rounded-circle" />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>




<!-- 
                        <div class="dropdown dropdown-pull-right btn-group">
                            <div class="btn-group dropdown dropdown-pull-right cursor-top-r" *ngIf="pageConnexionService.isJoueur()">
                                <ul class="navbar-nav">
                                  <li class="nav-item">
                                    <a class="nav-link deconnexion" (click)=deconnexion()>Deconnexion</a>
                                  </li>
                                </ul>
                      
                                <a id="btnGroupDrop1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  <img src={{this.pageConnexionService.compte.avatar.image}} class="logo_admin rounded-circle"
                                    id="avatarAdmin" />
                                </a>
                      
                                <ul class="dropdown-menu row" id="avatars">
                                  <li class="col" *ngFor="let avatar of this.avatarService.avatars">
                                    <a class="dropdown-item choixAvatar"><img id={{avatar.id}} (click)="changeAvatar(avatar)"
                                        src={{avatar.image}} class="logo_avatar rounded-circle" />
                                    </a>
                                  </li>
                                </ul>
                              </div>
                        </div> -->

                    </div>
                </nav>
            </div>


        </header>

    </div>




    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>



        <br>
        <br>






        <main class="container">

            <!-- Modal Valider Panier -->

            <div class="modal fade" id="validerPanierModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Validation de la commande</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h2>Etes-vous sur de vouloir valider le panier?</h2>
                            <p>Récapitulatif de la commande:</p>
                            <hr>
                            <span *ngFor="let etoile of listeEtoilesPanier">{{etoile.nombre}} <i
                                class="fas fa-star etoile"></i>: {{etoile.prix}}
                                <i class="fas fa-euro-sign"></i><br>
                            </span>
                            <ul id="recapCommande"></ul>

                            <br>
                            <h2>Total de la commande:</h2>
                            <p class="montantTotalPanier"> {{prixTotalPanier}} <i class="fas fa-euro-sign"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-target="#validerPaiement"
                                data-bs-toggle="modal" id="liveToastBtn">Valider le
                                panier</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="validerPaiement" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Paiement de la commande</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h2>Coordonnées bancaire</h2>
                            <p>Numéro de carte :</p>
                            <input type="number"><br>
                            <p>Date d'expiration :</p>
                            <input type="date">
                            <p>Cryptogramme :</p>
                            <input type="number">
                            <hr>
                            <span *ngFor="let etoile of listeEtoilesPanier">{{etoile.nombre}} <i
                                class="fas fa-star etoile"></i>: {{etoile.prix}}
                                <i class="fas fa-euro-sign"></i><br>
                            </span>
                            <ul id="recapCommande"></ul>

                            <br>
                            <h2>Total de la commande:</h2>
                            <p class="montantTotalPanier"> {{prixTotalPanier}} <i class="fas fa-euro-sign"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal" (click)="validerPanier()" id="liveToastBtn">Valider le
                                panier</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">
                                Validation des achats
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="messageAchatPanier">
                            <p><span id="checkIcon"><i class="fas fa-check-circle"></i></span>Félicitations pour vos
                                achats ! </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                data-bs-toggle="modal">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Vider Panier -->
            <div class="modal fade" id="viderPanierModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vider le panier</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Etes-vous sur de vouloir vider le panier?</h6>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="viderPanier()">Oui</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Se déconnecter -->
            <!-- TODO: modifier la redirection avec angular! -->
            <div class="modal fade" id="seDeconnecter" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Se déconnecter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Etes-vous sur de vouloir vous déconnecter?</h6>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><a
                                    href="PageAcceuilConnec.html" id="lienDeconnection">Oui</a></button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- *********Etoiles*************** -->
            <!-- Titre page -->
            <h1 class="titrePage">
                Les packages Etoile
            </h1>
            <br>
            <br>

            <div class="row" style="margin-bottom:50px;">
                <div *ngFor="let etoile of boutiqueEtoiles" class="col">
                    <div class="card borderAjust" style="width: 18rem;">
                        <img src={{etoile.image}} class="card-img-top borderImage"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Package {{etoile.nombre}} <i class="fas fa-star etoile"></i></h5>
                            <p class="card-text">Prix : {{etoile.prix}} <i class="fas fa-euro-sign"></i></p>
                            <div class="boutonEtoile"> <button type="button" class="btn btn-info btn-sm bouton"
                                    id="etoile" [attr.id]="etoile.id" (click)="ajouterEtoileAuPanier(etoile)"><i
                                        class="fas fa-cart-plus" style="color: white"></i>
                                    Acheter</button></div>

                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>

            <div class="btn-group justify-content-sm-center d-flex justify-content-center" role="group" aria-label="Basic example">
                <button id="BtnRetourBoutique" type="button" class="btn btn-primary" [routerLink]="['/boutique']">Accueil Boutique</button>
                <button id="BtnBoutiquePerso" type="button" class="btn btn-primary" [routerLink]="['/boutique/personnages']">Boutique Personnages & Vies</button>
              </div>

        </main>
    </div>
</div>