#ecran-jeu{
    top: 4em;
    height: 100%;
    width: 100%;
    position: relative;
  }

  #boutonLancement{

    font-family:  cursive;
    margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin-top: 3vh;
    height: 10vh;
     width: 25vw;
      font-size: 2vw;
      z-index: 100;
    
    
    }