<div id="ecran-jeu">


    <div id="choix_partie">

        <div class="card mt-3">
            <div class="card-header bg-info text-white">
                <h3> Créer ta partie</h3>
            </div>
            <div class="form-group">
                <label for="personnage"> Quel personnage veux-tu pour ta parite ?</label>
                <select class="form-control" id="personnage" [(ngModel)]="idPerso">
                    <option *ngFor="let p of listPersonnageDispo()" [value]="p.id">{{p.nom}} avec son pouvoir :
                        {{p.pouvoir}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="plateau"> Sur quel plateau veux-tu jouer ?</label>
                <select class="form-control" id="plateau" [(ngModel)]="idPlateau">
                    <option *ngFor="let p of listPlateauxDispo()" [value]="p.id">{{p.nom}} de {{p.nbCases}}</option>
                </select>
            </div>
        </div>

        <a (click)="CreerLapartie()"><button id="boutonLancement" type="button" class="btn btn-success bouton">Commencer
                la
                partie</button></a>


        <div id="previsualisation">
            <div class="personnage">
                <h4><b> Prenom : {{personnage.nom}}</b></h4>

                <!-- <h4><b> Prenom : {{p.nom}}</b></h4>
                        <p> <span type="button" data-toggle="tooltip" data-placement="right"
                                title="Ajouter la description du pouvoir" id="infoPouvoir">Pouvoir: {{p.pouvoir}}</span> </p>
                        <p>Prince : {{p.prince}}</p>
                        <p>Méchant : {{p.mechant}}</p> -->

            </div>

        </div>
    </div>






    <div id="regles">
        <h4> Regles du jeu</h4>
        <p id=textregles> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum, nemo minus suscipit perferendis nam sint
            molestiae quam incidunt perspiciatis. Vel temporibus in eaque ut quidem autem vitae aliquam corporis.lo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo vero, laborum sint ipsa
            consequuntur necessitatibus fuga dignissimos, aut saepe consectetur assumenda porro quo ullam! Ad tempore
            ipsam labore nemo!</p>


    </div>





</div>
<router-outlet></router-outlet>