#ecran-jeu{
    top: 7vh;
    height: 93vh;
    width: 100%;
    position: relative;
    display: flex;
    background-image: url(../../assets/images/jeu/battlejpg.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;

  }

#boutonNouvellePartie{
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  /* height: 12%; */
  width: 50%;
  font-family: cursive;
  background-color: rgb(87, 20, 87);
  border-color: rgb(255, 255, 255);
  /* padding: 0; */
  margin: 0;
}

#parametre{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: white 0.25rem;
  background-color: #d369e1;
  padding: 4%;
  text-align: center;
  font-size: cursive;
  border: white solid;
}
label{
  text-align: center;
  font-family:  cursive;
  background: none;
  font-size: 1vw;
}

#choix_partie {
  width: 40%;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  
}

  #titre{
    border: solid #ffffff;
    background: #d572e3;
    width: 50%;
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    padding: 4%;
    font-size: 3em;
    font-family: 'Devonshire', cursive;
    color: white;
  }

  #boutonLancement, #boutonBoutique{
    font-family:  cursive;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 3vh;
    height: 10vh;
    width: 25vw;
    font-size: 2vw;
    z-index: 100;
    }


    
  #previsulation{
    text-align: center;
  }

  #regles{
    margin-top:12vh;
    margin-bottom: 12vh;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(../../assets/images/jeu/texture.jpg);
    background-repeat: none;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
    opacity: 50%;
  }

  .texteRegles{
    font-size: 2rem;
    background-color: rgba(221, 202, 231, 0.541);
  }

  #imageRegles{
    width: 50%;
    height: 100%;
  }
