<div id="ecran-jeu">


    <div id="choix_partie">
        <!-- <div id="titre ">Créer ta partie</div> -->

        <button id="boutonNouvellePartie" type="button" (click)="nouvellePartie(); clicked = true;" [disabled]="clicked"
            class="btn btn-success bouton">Nouvelle Partie</button>

        <div id="parametre" class="list-group" *ngIf="partiePossible==true">
            <div class="form-group">
                <label for="personnage"> Quel personnage veux-tu pour ta partie ?</label>
                <select class="form-control" id="personnage" [(ngModel)]="idPerso">
                    <option *ngFor="let p of listPersonnage" [value]="p.id">{{p.nom}} avec son pouvoir :
                        {{p.pouvoir}}
                        <img src="{{p.avatar}}" alt="avatar">
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label for="plateau"> Sur quel plateau veux-tu jouer ?</label>
                <select class="form-control" id="plateau" [(ngModel)]="idPlateau">
                    <option *ngFor="let p of listPlateauPerso" [value]="p.id">{{p.nom}} de {{p.nbCases}} cases.
                    </option>
                </select>
            </div>
        </div>


        <!--//////////////////////////////////// le livre //////////////////////////////////////////-->
        <div class="component">
            <ul class="align">
                <li>
                    <figure class='book'>
                        <!-- Front -->

                        <ul class='hardcover_front'>
                            <li>
                                <div class="coverDesign custom">
                                    <h1>Princess Adventure</h1>
                                    <p>par {{joueur.pseudo}}</p>
                                </div>
                            </li>
                            <li></li>
                        </ul>

                        <!-- Pages -->

                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn" type="button" (click)="creerLapartie()"
                                    *ngIf="partiePossible==true && !(idPerso==null || idPlateau==null)">Commencer
                                    l'aventure</a>
                                <a class="btn" type="button" *ngIf="life<=0"
                                    [routerLink]="['/boutique/personnages']">Aller recharger tes vies ?</a>
                                <a class="btn" type="button"
                                    *ngIf="partiePossible==true && (idPerso==null || idPlateau==null) ">Il manque des
                                    informations pour commencer l'aventure ! </a>

                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                        <!-- Back -->

                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>

                    </figure>
                </li>
            </ul>
        </div>



        <!-- 
        <div id="previsualisation">
            <div class="personnage">
                <h4><b> Prenom : {{personnage.nom}}</b></h4>

                <h4><b> Prenom : {{p.nom}}</b></h4>
                        <p> <span type="button" data-toggle="tooltip" data-placement="right"
                                title="Ajouter la description du pouvoir" id="infoPouvoir">Pouvoir: {{p.pouvoir}}</span> </p>
                        <p>Prince : {{p.prince}}</p>
                        <p>Méchant : {{p.mechant}}</p> 

            </div>

       </div> -->
    </div>






    <div id="regles">
        <div id="pageRegles">
            <!-- <img id="imageRegles" src="../../assets/images/jeu/regles.jpg" alt="parchemin"> -->
            <div id=titreRegles>Regles du jeu</div>
            <div id=texteRegles> <span></span>

                <p>Bienvenue dans <b>Princess Adventure !</b></p>
                <br>
                <p>Les méchants de ce monde veulent empêcher les princesses et leurs princes de vivre heureux !</p>

                <p> Ton objectif est de réussir à atteindre le bout du plateau en premier, pour cela tu auras à chaque
                    tour
                    le droit de lancer 2 dés qui te permettront d'avancer.
                    Mais attention ! Le chemin ne sera pas forcément de tout repos, sur chaque case tu vivras une
                    aventure
                    différente !</p>

                <p> Par exemple une fois arrivé sur la case <span class="typeCase">déplacement</span> (fléche) à l'issu
                    du
                    jet de dé, tu seras amener à te déplacer d'un nombre aléatoire de case en <span class="typeCase"
                        style='color:"limegreen"'>avant</span> ou en <span class="typeCase"
                        style='color:"red"'>arrière</span>.
                    La case <span class="typeCase" style='color:"crimson"'>prince</span> (coeur rose) te fera rencontrer
                    ton prince qui t'aidera à
                    avancer d'autant de case que ton jet de dé !
                    En revanche sur la case <span class="typeCase" style='color:"midnightblue"'>mechant</span> (coeur
                    bleu foncé) t'attend ton pire ennemi et
                    tu devras rebrousser chemin d'autant de case que tu venais d'avancer...</p>

                <p> Il y a d'autres types de case :
                    Case <span class="typeCase" style='color:"lightsteelblue"'>vide</span> (case vide).
                    Case <span class="typeCase" style='color:"black"'>prison</span> (barreau).
                    Case <span class="typeCase" style='color:"tomato"'>duel</span> (plusieurs étoiles).
                    Case <span class="typeCase" style='color:"salmon"'>pioche</span> (2 cartes).
                    Pour l'instant tu ne fais que les visiter mais cela changera...
                </p>
                <br>
                <p>Fais donc bien attention à toi ! Bon courage ! </p>

                <p> PS : pour le moment tu ne peux pas utiliser le pouvoir de ton personnage, mais nous savons que tu
                    pourras dans le futur ! patience ! </p>

            </div>
        </div>
    </div>






</div>
<router-outlet></router-outlet>