<div id="ecran-jeu">


    <div id="choix_partie">
        <!-- <div id="titre ">Créer ta partie</div> -->

        <button id="boutonNouvellePartie" type="button" (click)="nouvellePartie(); clicked = true;" [disabled]="clicked"
            class="btn btn-success bouton">Nouvelle Partie</button>

        <div id="parametre" class="list-group" *ngIf="partiePossible==true">
            <div class="form-group">
                <label for="personnage"> Quel personnage veux-tu pour ta partie ?</label>
                <select class="form-control" id="personnage" [(ngModel)]="idPerso">
                    <option *ngFor="let p of listPersonnage" [value]="p.id">{{p.nom}} avec son pouvoir :
                        {{p.pouvoir}}
                        <img src="{{p.avatar}}" alt="avatar">
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label for="plateau"> Sur quel plateau veux-tu jouer ?</label>
                <select class="form-control" id="plateau" [(ngModel)]="idPlateau">
                    <option *ngFor="let p of listPlateauPerso" [value]="p.id">{{p.nom}} de {{p.nbCases}}</option>
                </select>
            </div>
        </div>


<!--//////////////////////////////////// le livre //////////////////////////////////////////-->
        <div class="component">
            <ul class="align">
                <li>
                    <figure class='book'>
                        <!-- Front -->

                        <ul class='hardcover_front'>
                            <li>
                                <div class="coverDesign custom">
                                    <h1>Princess Adventure</h1>
                                    <p>par {{joueur.pseudo}}</p>
                                </div>
                            </li>
                            <li></li>
                        </ul>

                        <!-- Pages -->

                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn" type="button" (click)="creerLapartie()"
                                    *ngIf="partiePossible==true && !(idPerso==null || idPlateau==null)">Commencer
                                    l'aventure</a>
                                <a class="btn" type="button" *ngIf="life<=0"
                                    [routerLink]="['/boutique/personnages']">Aller recharger tes vies ?</a>
                                <a class="btn" type="button"
                                    *ngIf="partiePossible==true && (idPerso==null || idPlateau==null) ">Il manque des
                                    informations pour commencer l'aventure ! </a>

                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                        <!-- Back -->

                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>

                    </figure>
                </li>
            </ul>
        </div>



        <!-- 
        <div id="previsualisation">
            <div class="personnage">
                <h4><b> Prenom : {{personnage.nom}}</b></h4>

                <h4><b> Prenom : {{p.nom}}</b></h4>
                        <p> <span type="button" data-toggle="tooltip" data-placement="right"
                                title="Ajouter la description du pouvoir" id="infoPouvoir">Pouvoir: {{p.pouvoir}}</span> </p>
                        <p>Prince : {{p.prince}}</p>
                        <p>Méchant : {{p.mechant}}</p> 

            </div>

       </div> -->
    </div>






    <div id="regles">
        <img id="imageRegles" src="../../assets/images/jeu/regles.jpg" alt="parchemin">
        <h4> Regles du jeu</h4>
        <p id=textregles> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum, nemo minus suscipit
            perferendis nam sint
            molestiae quam incidunt perspiciatis. Vel temporibus in eaque ut quidem autem vitae aliquam corporis.lo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo vero, laborum sint ipsa
            consequuntur necessitatibus fuga dignissimos, aut saepe consectetur assumenda porro quo ullam! Ad tempore
            ipsam labore nemo!</p>


    </div>





</div>
<router-outlet></router-outlet>