<div>

    <!-- <div class="background"> -->
    <div id="bloc_page">
        <header>

            <!--div haut-->
            <div class="haut">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">


                    <div class="container-fluid">
                        <!-- logo jeu  -->
                        <div id="logo">
                            <img src="../../assets/images/logoPrincessA.png" class="logo_menu" />
                        </div>


                        <!-- Nombre d'etoiles joueur -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <a class="navbar-brand" [routerLink]="['/accueilJoueur']" >Accueil</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" [routerLink]="['/jeu']"
                                        routerLinkActive="activebutton">Le jeu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/boutique']" routerLinkActive="activebutton">La
                                        boutique</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/compte']" routerLinkActive="activebutton">Mon
                                        compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nombreEtoilesJoueur">Nombre d'étoiles:
                                        {{joueur.nbEtoiles}} <i class="fas fa-star etoile"></i></a>
                                </li>
                            </ul>
                        </div>


                        <!-- bouton panier -->
                        <div class="btn-group dropdown dropdown-pull-right" id="boutonPanier">
                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-shopping-cart fa-2x panier"></i><span class="badge badge-primary badge-pill"
                                    id="nombreElementsDansPanier">{{listePersonnagesPanier.length +
                                    listeViePanier.length}}</span>
                            </button>
                            <div class="dropdown-menu contenuPanier">
                                <span *ngIf="listePersonnagesPanier.length>0" style="font-weight: bold;">Liste des personnages dans le
                                    panier : </span>
                                <ul id="listePanier" class="monPanier" *ngIf="listePersonnagesPanier.length>0"
                                    (click)="$event.stopPropagation()">
                                    <!-- <div *ngIf="listePersonnagesPanier.length>0" id="listePersosPanier"> -->
                                    <li *ngFor="let p of listePersonnagesPanier"> {{p.nom}}: {{p.prixAchatPerso}}
                                        <i class="fas fa-star etoile"></i> <button type="button" class="btn " (click)="removePerso(p.nom)"> <i
                                            class="far fa-trash-alt poubelle"></i> </button>
                                    </li>
                                    <!-- construit par la methode afficherListePersoPanier -->
                                    <!-- </div> -->
                                    <div class="dropdown-divider"></div>
                                </ul>
                                <span *ngIf="listeViePanier.length>0" style="font-weight: bold;">Liste des vies dans le panier : </span>
                                <ul id="listePanierVie" class="monPanier" *ngIf="listeViePanier.length>0" (click)="$event.stopPropagation()">
                                    <!-- <div *ngIf="listePersonnagesPanier.length>0" id="listePersosPanier"> -->
                                    <li *ngFor="let vie of listeViePanier"> Package {{vie.nombre}} <i class="fas fa-heart coeur"></i> : {{vie.prix}}<i
                                            class="fas fa-star etoile"></i> 
                                            <button type="button" class="btn " (click)="removeVie(vie.id)"> <i
                                                class="far fa-trash-alt poubelle"></i> </button>
                                    <!-- construit par la methode afficherListePersoPanier -->
                                    <!-- </div> -->
                                    <div class="dropdown-divider"></div>
                                </ul>
                                <div *ngIf="listePersonnagesPanier.length>0 || listeViePanier.length>0">
                                    <li>Total de la commande: <span class="montantTotalPanier">{{prixTotalPanier}} <i
                                                class="fas fa-star etoile"></i></span></li>
                                </div>
                                <div *ngIf="listePersonnagesPanier.length>0 || listeViePanier.length>0">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#validerPanierModal1" (click)="afficheRecapCommande()">
                                        Valider le panier
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#viderPanierModal2" id="viderPanier">Vider le
                                        panier</button>
                                </div>
                                <div *ngIf="listePersonnagesPanier.length==0 && listeViePanier.length==0">
                                    Votre panier est vide
                                </div>
                            </div>

                        </div>


                        <!-- avatars -->
                        <!-- mettre le logo à gauche de la navbar -->
                        <a class="navbar-brand" href="#">Joueur</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="dropdown dropdown-pull-right btn-group">
                            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/images/avatar/avatar_mickey.png"
                                    class="logo_admin rounded-circle" id="avatarAdmin" />
                            </button>

                            <ul class="dropdown-menu" id="avatars">
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" href="#"><img id="avatar1"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_elsa.png"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarMulan" href="#"><img id="avatar2"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_ariel.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarAurore" href="#"><img id="avatar3"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_aurore.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarJasmine" href="#"><img id="avatar5"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_belle.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarRaiponce" href="#"><img id="avatar6"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_blanche_neige.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarCendrillon" href="#"><img
                                            id="avatar4" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_cendrillon.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarBlancheNeige" href="#"><img
                                            id="avatar7" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_jasmine.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarBelle" href="#"><img id="avatar8"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_mulan.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarAriel" href="#"><img id="avatar9"
                                            onclick="changeAvatar(event)" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_raiponce.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar10"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_tiana.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar11"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_mickey.png"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar12"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_minnie.png"
                                            class="logo_avatar rounded-circle" /></a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="modifProfilJoueur.html">Gestion du Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-bs-toggle="modal"
                                        data-bs-target="#seDeconnecter">Déconnexion</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>


        </header>

    </div>




    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>



        <br>
        <br>






        <main class="container">

            <!-- Button trigger modal -->


            <!-- Modal Valider Panier -->
            <div class="modal fade" id="validerPanierModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Validation de la commande</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Etes-vous sur de vouloir valider le panier?</h3>
                            <p>Récapitulatif de la commande:</p>
                            <span *ngFor="let p of afficheRecapCommande()">{{p.nom}} {{p.prixAchatPerso}}
                                <i class="fas fa-star etoile"></i> <br>
                            </span>
                            <hr>
                            <span *ngFor="let vie of listeViePanier">Package {{vie.nombre}} <i class="fas fa-heart coeur"></i> : {{vie.prix}}
                                <i class="fas fa-star etoile"></i> <br>
                            </span>
                            <ul id="recapCommande"></ul>

                            <br>
                            <h3>Total de la commande:</h3>
                            <p class="montantTotalPanier"> {{prixTotalPanier}} <i class="fas fa-star etoile"></i></p>

                            <p *ngIf="joueur.nbEtoiles < prixTotalPanier" class="red">Votre solde est insuffisant. Pour
                                acheter des étoiles, merci de cliquer <a href="#">ici </a></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal" (click)="validerPanier()" id="liveToastBtn"
                                [disabled]="joueur.nbEtoiles < prixTotalPanier">Valider le
                                panier</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalToggleLabel2">
                                <!-- Affichage automatique par JS -->
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="messageAchatPanier">
                            <p><span id="checkIcon"><i class="fas fa-check-circle"></i></span>Félicitations pour vos
                                achats ! </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                data-bs-toggle="modal">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Vider Panier -->
            <div class="modal fade" id="viderPanierModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Vider le panier</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Etes-vous sur de vouloir vider le panier?</h3>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="viderPanier()">Oui</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Se déconnecter -->
            <!-- TODO: modifier la redirection avec angular! -->
            <div class="modal fade" id="seDeconnecter" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Se déconnecter</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Etes-vous sur de vouloir vous déconnecter?</h3>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><a
                                    href="PageAcceuilConnec.html" id="lienDeconnection">Oui</a></button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Titre page -->
            <h1 class="titrePage">
                Les personnages disponibles
            </h1>
            <br>
            <br>

            <!-- Portfolios -->
            <div id="portfolioCollapse" *ngIf="boutiquePerso?.length>0">
                <!-- CREATION DYNAMIQUE DES PORTFOLIO ICI -->
                <div class="row">
                    <div *ngFor="let p of boutiquePerso" class="col pb-4 pd100">
                        <div class="media achat">
                            <img class="mr-3 portfolio rounded-circle" src='{{p.personnage.avatar}}'
                                alt='{{p.personnage.nom}}' data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse'+ p.personnage.id" aria-expanded="false"
                                aria-controls="collapseWidthExample">
                            <div class="media-body collapse collapse-horizontal mr-200" style="min-height: 180px;"
                                [attr.id]="'collapse' + p.personnage.id" data-bs-parent="#portfolioCollapse">
                                <div class="card card-body detail" style="width: 35rem;">
                                    <h1 class="nomPerso">{{p.personnage.nom}}</h1>
                                    <h3 class="contenuPouvoir" data-bs-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseExample"
                                        [attr.data-bs-target]="'#collapseChild'+ p.personnage.id">
                                        {{p.personnage.pouvoir}} &nbsp;</h3>
                                    <!-- <img class="iconePouvoir"
                                        src="' + perso.pouvoirImg + '" /> -->
                                    <div class="collapse" [attr.id]="'collapseChild' + p.personnage.id">
                                        <div class="card card-body descriptionPouvoir">
                                            TODO : avant ici ct la description des pouvoir
                                        </div>
                                    </div>
                                    <p class="prix"> {{p.personnage.prixAchatPerso}}&nbsp;<i
                                            class="fas fa-star etoile"></i>
                                    </p>
                                    <div class="divBouton" [attr.id]="p.personnage.id + p.personnage.prixAchatPerso">
                                        <!-- <span [ngClass]="{'negatif':client.ca<0}"> -->
                                        <button type="button" class="btn btn-info btn-sm bouton" id="p.personnage"
                                            [attr.id]="p.personnage.id"
                                            [disabled]="isPersonnageEstDansLePanier(p.personnage)"
                                            *ngIf="!p.persoDejaEnPossession" (click)="ajouterAuPanier(p.personnage)"><i
                                                class="fas fa-cart-plus" style="color: white"></i> Acheter</button>

                                                <p style="font-style:italic;" *ngIf="p.persoDejaEnPossession"><i class="fas fa-check-circle" style="color: green"></i> Personnage déjà en votre possession</p>
                                        <!-- <button type="button" class="btn btn-success" *ngIf="p.persoDejaEnPossession"
                                            disabled>Personnage déjà en votre
                                            possession</button> -->
                                        <!-- </span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- *********VIE*************** -->
<!-- Titre page -->
<h1 class="titrePage">
    Les packages Vie
</h1>
<br>
            <br>

            <div class="row">
                <div *ngFor="let vie of boutiqueVie" class="col">
                    <div class="card borderAjust" style="width: 18rem;">
                        <img src="{{vie.image}}" class="card-img-top borderImage" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Package {{vie.nombre}} <i class="fas fa-heart coeur"></i></h1>
                            <p class="card-text">Prix : {{vie.prix}} <i class="fas fa-star etoile"></i></p>
                            <div class="boutonVie"> <button type="button" class="btn btn-info btn-sm bouton" id="vie" [attr.id]="vie.id"
                                (click)="ajouterVieAuPanier(vie)"><i class="fas fa-cart-plus" style="color: white"></i>
                                Acheter</button></div>
                           
                        </div>
                    </div>
                </div>



                <!-- <div class="row row-cols-1 row-cols-md-3 g-3 ensembleCard">
                    <div class="col">
                        <div class="card h-100 itemsBoutique">
                            <img src="../../assets/images/Disney_Princesses_Selfie.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">Nombre : {{vie.nombre}}</h1>
                                <p class="card-text">Prix : {{vie.prix}}</p>
                                <div class="divBouton" [attr.id]="vie.id + vie.prix"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info btn-sm bouton" id="vie" [attr.id]="vie.id"
                            (click)="ajouterVieAuPanier(vie)"><i class="fas fa-cart-plus" style="color: white"></i>
                            Acheter</button>
                    </div>
                </div> -->




                <!-- <div class="card col" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title">Nombre : {{vie.nombre}}</h1>
                        <p class="card-text">Prix : {{vie.prix}}</p>
                        <div class="divBouton" [attr.id]="vie.id + vie.prix">
                             <span [ngClass]="{'negatif':client.ca<0}"> -->
                <!-- <button type="button" class="btn btn-info btn-sm bouton" id="vie" [attr.id]="vie.id"
                                (click)="ajouterVieAuPanier(vie)"><i class="fas fa-cart-plus" style="color: white"></i>
                                Acheter</button> -->
                <!-- </span> -->
                <!-- </div>
                    </div>
                </div> -->
            </div>
            <br>
            <br>
        </main>
    </div>
</div>