<div>

    <!-- <div class="background"> -->
    <div id="bloc_page">
        <header>

            <!--div haut-->
            <div class="haut">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">


                    <div class="container-fluid">
                        <!-- logo jeu  -->
                        <div id="logo">
                            <img src="../../assets/images/logoPrincessA.png" class="logo_menu" />
                        </div>


                        <!-- Nombre d'etoiles joueur -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <a class="navbar-brand" href="#">Accueil</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">Niveau</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Nombre de victoire <i
                                            class="bi bi-trophy-fill"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nombreEtoilesJoueur" href="#">Nombre d'étoiles <i
                                            class="bi bi-star-fill"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="MenuBoutiqueJoueur.html">Boutique</a>
                                </li>

                            </ul>
                        </div>


                        <!-- bouton panier -->
                        <div class="btn-group dropdown dropdown-pull-right" id="boutonPanier">
                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-cart4"></i><span class="badge badge-primary badge-pill"
                                    id="nombreElementsDansPanier">0</span>
                            </button>
                            <ul class="dropdown-menu" id="listePanier" onclick="event.stopPropagation()">
                                <div id="listePersosPanier">
                                    <!-- construit par la methode afficherListePersoPanier -->
                                </div>
                                <div class="dropdown-divider"></div>
                                <li>Total de la commande: <span class="montantTotalPanier"></span></li>
                                <li><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#validerPanierModal1" onclick="afficheRecapCommande()">
                                        Valider le panier
                                    </button></li>
                                <!-- Modal -->
                                <li><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#viderPanierModal2" id="viderPanier">Vider le
                                        panier</button></li>
                            </ul>
                        </div>


                        <!-- avatars -->
                        <!-- mettre le logo à gauche de la navbar -->
                        <a class="navbar-brand" href="#">Joueur</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="dropdown dropdown-pull-right btn-group">
                            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/images/avatar/avatar_mickey.png"
                                    class="logo_admin rounded-circle" id="avatarAdmin" />
                            </button>

                            <ul class="dropdown-menu" id="avatars">
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" href="#"><img id="avatar1"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_elsa.png"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarMulan" href="#"><img id="avatar2"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_ariel.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarAurore" href="#"><img id="avatar3"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_aurore.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarJasmine" href="#"><img id="avatar5"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_belle.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarRaiponce" href="#"><img id="avatar6"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_blanche_neige.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarCendrillon" href="#"><img
                                            id="avatar4" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_cendrillon.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarBlancheNeige" href="#"><img
                                            id="avatar7" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_jasmine.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarBelle" href="#"><img id="avatar8"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_mulan.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarAriel" href="#"><img id="avatar9"
                                            onclick="changeAvatar(event)" onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_raiponce.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                </li>
                                <li class="d-flex flex-row mb-3">
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar10"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_tiana.jpg"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar11"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_mickey.png"
                                            class="logo_avatar rounded-circle" /></a>
                                    <a class="dropdown-item choixAvatar" id="avatarTiana" href="#"><img id="avatar12"
                                            onclick="changeAvatar(event)"
                                            src="../../assets/images/avatar/avatar_minnie.png"
                                            class="logo_avatar rounded-circle" /></a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="modifProfilJoueur.html">Gestion du Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-bs-toggle="modal"
                                        data-bs-target="#seDeconnecter">Déconnexion</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>


        </header>

    </div>




    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>



        <br>
        <br>






        <main class="container">

            <!-- Button trigger modal -->


            <!-- Modal Valider Panier -->
            <div class="modal fade" id="validerPanierModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Validation de la commande</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Etes-vous sur de vouloir valider le panier?</h6>
                            <p>Récapitulatif de la commande:</p>
                            <ul id="recapCommande"></ul>
                            <br>
                            <h6>Total de la commande:</h6>
                            <p class="montantTotalPanier"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal" onclick="validerPanier()" id="liveToastBtn">Valider le
                                panier</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">
                                <!-- Affichage automatique par JS -->
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="messageAchatPanier">
                            <p>Bravo! Vous avez acheté de nouveaux personnages!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                data-bs-toggle="modal">Retour</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Vider Panier -->
            <div class="modal fade" id="viderPanierModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vider le panier</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Etes-vous sur de vouloir vider le panier?</h6>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                onclick="viderPanier()">Oui</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Se déconnecter -->
            <!-- TODO: modifier la redirection avec angular! -->
            <div class="modal fade" id="seDeconnecter" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Se déconnecter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Etes-vous sur de vouloir vous déconnecter?</h6>
                            <p id="recapCommande"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><a
                                    href="PageAcceuilConnec.html" id="lienDeconnection">Oui</a></button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Titre page -->
            <h1 class="titrePage">
                Les personnages disponibles
            </h1>
            <br>
            <br>

            <!-- Portfolios -->
            <div id="portfolioCollapse">
                <!-- CREATION DYNAMIQUE DES PORTFOLIO ICI -->
                <div class="row">
                    <div *ngFor="let p of listAllPersoBoutiqueDto()" class="col pb-4 pd100">
                        <div class="media achat">
                            <img class="mr-3 portfolio rounded-circle" src='{{p.personnage.avatar}}' alt='{{p.personnage.nom}}'
                                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+ p.personnage.id"
                                aria-expanded="false" aria-controls="collapseWidthExample">
                            <div class="media-body collapse collapse-horizontal mr-200" style="min-height: 180px;"
                                [attr.id]="'collapse' + p.personnage.id" data-bs-parent="#portfolioCollapse">
                                <div class="card card-body detail" style="width: 35rem;">
                                    <h2 class="nomPerso">{{p.personnage.nom}}</h2>
                                    <p class="contenuPouvoir" data-bs-toggle="collapse" aria-expanded="false"
                                        aria-controls="collapseExample" [attr.data-bs-target]="'#collapseChild'+ p.personnage.id">
                                        {{p.personnage.pouvoir}} &nbsp;</p>
                                    <!-- <img class="iconePouvoir"
                                        src="' + perso.pouvoirImg + '" /> -->
                                    <div class="collapse" [attr.id]="'collapseChild' + p.personnage.id">
                                        <div class="card card-body descriptionPouvoir">
                                            TODO : avant ici ct la description des pouvoir
                                        </div>
                                    </div>
                                    <p class="prix"> {{p.personnage.prixAchatPerso}}&nbsp;<i class="fas fa-star etoile"></i>
                                    </p>
                                    <div class="divBouton" [attr.id]="p.personnage.id + p.personnage.prixAchatPerso">
                                        <button type="button" class="btn btn-info btn-sm bouton" [attr.id]="p.personnage.id"
                                            (click)="ajouterAuPanier(p.personnage.id)"><i class="fas fa-cart-plus"
                                                style="color: white"></i> Acheter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>