#ecran-gestion-plateau {
  top: 4em;
  height: 94vh;
  width: 100%;
  position: relative;
  /* background-color: lightgray; */
  background-image: url(src\assets\images\PageNotFound.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}

.row {
  justify-content: space-around;
}

.globalCard {
  height: 70%;
  top: 10em;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  background-color: transparent;
}

.conteneur{
  height: 100%;
}