<div id="ecran-modif-profil">



    <div class="card containerCard" id="ecranconnec">
        <div class="card-body">
            <div class="card mt-3">
                <div class="card-header text-white">
                    <h1>Mes Informations</h1>
                </div>
                <div class="card-body cardContenant">
                    <div class="form-group">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" [(ngModel)]="joueurForm.nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="form-label">Prenom</label>
                        <input type="text" class="form-control" id="prenom" [(ngModel)]="joueurForm.prenom">
                    </div>
                    <div class="form-group">
                        <label for="pseudo" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" id="pseudo" [(ngModel)]="joueurForm.pseudo">
                    </div>
                    <div class="form-group">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="text" class="form-control" id="mail" [(ngModel)]="joueurForm.mail">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="joueurForm.password">
                    </div>
                </div>

                <div class="card-footer">
                    <div class="btn-group btn-group-lg float-end">
                        <a class="btn " (click)="cancel()" id="boutonCancel" [routerLink]="['/accueilJoueur']">
                            <i class="bi bi-backspace"></i>
                        </a>
                        <a class="btn " id="boutonSave" (click)="save()">
                            <i class="bi bi-check-square"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>






    </div>