<div id="ecran-de-jeu">
    <div id="ecranDeJeu">
        <div id="tableauDeControl">

            <!-- boutons / des -->
            <div class="gameControl">
                <div class="bouttons">
                    <div class="Tour">
                        <p> Tour : <span id="NbTour"> {{Tour}}</span> </p>
                    </div>
                    <div class="TourJoueur">
                        <p> Tour du joueur :<span id="JoueurTour"> {{joueurActuel}} </span> </p>
                    </div>
                    <div class="Avance">
                        <button id="boutonJouer" type="button" class="btn btn-primary bouton"
                            [disabled]="!dispoBoutonJouer" (click)="Play()">Jouer</button>
                        <p>Lancé de dé: <span id="valeurDeAvance">{{valeurDesDes}}</span></p>
                    </div>
                    <div class="pouvoir">
                        <button id="boutonPouvoir" type="button" class="btn btn-primary bouton"
                            [disabled]="!dispoBoutonPouvoir" (click)="Pouvoir()">Pouvoir</button>
                    </div>



                    <div class="Fin">
                        <button id="boutonFinDeTour" type="button" class="btn btn-primary bouton"
                            [disabled]="!dispoBoutonFin" (click)="EndTurn()">Fin de tour </button>
                        <p></p>
                    </div>
                    <div class="dice" id="de1">
                        <p><span id="affichageDe"> </span></p>
                        <img id="imageDe" src="../../assets/images/jeu/de0.png" alt="de1">
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <div class="dice" id="de2">
                        <p><span id="affichageDe2"> </span></p>
                        <img id="imageDe2" src="../../assets/images/jeu/de0.png" alt="de2">
                    </div>
                </div>
            </div>



        </div>
        <div id="zoneDuPlateau">
            <div id="canvasesdiv" height="800px" width="800px">
                <!--<img id="imageduplateau" src="../img/texture.jpg" alt="texture" height="100%" width="100%">-->

                <!-- mon plateau -->
                <canvas #canvasBackground class="canvasdujeu" id="background" style="z-index: 1; " height="800px"
                    width="800px"> </canvas>
                <canvas #canvasPlateau class="canvasdujeu" id="plateauCanvas" style="z-index: 2; " height="800px"
                    width="800px"></canvas>

                <!-- mon perso -->
                <canvas #canvasJoueur class="canvasdujeu" id="player" style="z-index: 2; " height="800px"
                    width="800px"></canvas>

                <!-- IA -->
                <canvas #canvasIA1 class="canvasdujeu" id="IA1" style="z-index: 3;" height="800px" width="800px">
                </canvas>
                <canvas #canvasIA2 class="canvasdujeu" id="IA2" style="z-index: 4;" height="800px" width="800px">
                </canvas>
                <canvas #canvasIA3 class="canvasdujeu" id="IA3" style="z-index: 5;" height="800px" width="800px">
                </canvas>
            </div>



        </div>
        <div id="interfaceUtilisateur">

            <div id="infojoueur">
                <div class=titreInterface> <span>Ton personnage !</span></div>
                <div class="card" id="info">
                    <div class="joueur">
                        <h4><b>Pseudo : {{joueur.pseudo}}</b></h4>
                        <p><span type="button" data-toggle="tooltip" data-placement="right"
                                title="Nombre de victoire: {{joueur.nbVictoire}}" id="infoPouvoir">Niveau:
                                {{joueur.level}}</span></p>
                    </div>
                    <img id="image_personnage" src={{personnage.avatar}} alt="personnage">
                    <div class="personnage">
                        <h4><b> Prenom : {{personnage.nom}}</b></h4>
                        <p> <span type="button" data-toggle="tooltip" data-placement="right"
                                title="Ajouter la description du pouvoir" id="infoPouvoir">Pouvoir:
                                {{personnage.pouvoir}}</span> </p>
                        <p>Prince : {{personnage.prince}}</p>
                        <p>Méchant : {{personnage.mechant}}</p>
                    </div>
                </div>







            </div>
            <!-- l'audio -->
            <div class="soundControl">
                <audio id="diceThrowAudio"></audio>
                <span class="parameter">volume du son du dé :</span>
                <div class="volume-slider-con">
                    <div class="volume-slider"></div>
                </div>
            </div>


            <!-- la vitesse des pions -->
            <div id="vitesseControl">
                <span class="parameter">vitesse du pion :</span>
                <!--<span id="vitesse">1</span>-->
                <div class="slidecontainer">
                    <input type="range" min="1" max="7" value="1" class="slider" id="vitesseRange"
                        [disabled]="!commandeDispo" [(ngModel)]="niveauDeVitesseDuPion">
                </div>
            </div>
        </div>


        <!--quand on gagne-->
        <div fin-de-partie id="InterfaceFinDePartie"></div>
    </div>

</div>