@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
/* **********************************************plateau jeu***************************************************************** */

#ecran-de-jeu{
  top: 7vh;
  background-image: url(src\assets\images\jeu\fond1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dbbadbc4;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 93vh;
  
}


/* juste la partie jeu +  controls*/
#ecranDeJeu {
 
  display: flex;
  background-color: #f7e0f780;
  height: 100%;
  width: 100%;
  position: relative;

}

/* le plateau seul*/
#zoneDuPlateau{
  border: solid grey 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 100%;
  padding:20px;
}

/* /* TODO: rendre ça responsive ! */
#canvasesdiv{
  width:800px;
  height:800px;
  position:relative;
  margin :0px;
  padding: 0;
  border : none;

}

/* chaque canvas*/
.canvasdujeu{
   left:0px;
   top:0px;
   width:800px;
   height:800px;
  /* width: 100%;*/
   /*object-fit: contain;*/
   position:absolute;
}

#background {
    opacity: 0.5;
}

/* la partie entiere avec les control donc bouton et reglages*/
#tableauDeControl {
  width: 20%;
  bottom:0;
}

/* **********************************************game control***************************************************************** */

.Tour{
  text-align: center;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  z-index: 1;
}
.TourJoueur{
  text-align: center;
  font-size: 10px;
  z-index: 1;
}

.gameControl {
  border: solid grey 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;

}

.bouton {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 110px;
  font-family:  cursive;
  background-color: rgb(87, 20, 87);
  border-color: rgb(255, 255, 255);
}

.dice{
  height: 110px;
  width: 110px;
  border-radius: 20%;
  display: flex;
  background-color:white;
  border: solid grey 2px;
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 2px;
  box-shadow: darkorchid;
}



/* ********************************************** player control***************************************************************** */
/* partie de l'int utilisateur sur le coté */
#interfaceUtilisateur {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  border: solid grey 2px;
  border-radius: 5px;
  width: 20%;

}

.titreInterface{
  text-align: center;
  font-family: 'Devonshire', cursive;
  z-index: 1;
  justify-content: center;
  font-size: 3em;
  }

  #infojoueur{
    height: 80%;
    border: solid grey 2px;
    border-radius: 5px;
  }
 
  #info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  .joueur .personnage{
    text-align: center;
  }




/* **********************************************sound control***************************************************************** */

.soundControl {
  /* border: solid grey 2px;
  border-radius: 5px; */
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
  align-self: center;
}


.volume-slider-con{
  height:20px;
  width:50%;
  background-color:#ddd;
  justify-content: center;
  align-self: center;
}

.volume-slider{
  height:100%;
  width:100%;
  background-color:red;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.parameter{
  text-align: center;
}

/* **********************************************vitesse control***************************************************************** */

#vitesseControl {
  /* border: solid grey 2px;
  border-radius: 5px; */
  display: flex;
  flex-direction: column;
  height:10%;
  width: 100%;
  align-self: center;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  height:20px;
  width:50%;
  background-color:#ddd;
  justify-content: center;
  align-self: center;
}

/* The slider itself */
.slider {
  height:100%;
  width:100%;
  background-color:blue;
  justify-content: center;
  align-self: center;
  background: #d3d3d3; /* Grey background */
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  justify-content: center;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: blue;
  cursor: pointer; /* Cursor on hover */
}


/*
.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  /*height: 20px; /* Slider handle height */
  /*background: #04AA6D; /* Green background */
  /*cursor: pointer; /* Cursor on hover */
/*}*/

