@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
#ecran-home{
    width: 100%;
    top: 7vh;
    position: fixed;
    bottom: 0px;
  }

  body{
    margin:0px;
  }

  h1{
    font-family: 'Devonshire', cursive;
    font-size: 4em;
  }
  p{
    font-family: 'Devonshire', cursive;
    font-size: 2em;
  }

  
  
  .container-fluid{
    background-color:#dbbadba1;
    color:purple;
  }
  
  /*.navbar-light .navbar-brand{
    color:rgba(168, 45, 137, 0.9);
  }*/
  
  .navbar-light .navbar-nav .nav-link:hover{
    color:white;
  }
  
  
  
  .navbar{
  padding-top: 0rem;
  padding-bottom: 0rem;
  }
  
  img{
  object-fit: cover;
  height: 93vh;
  }
  
  
  .logo_menu {
      width: 5em;
      height: 7vh;
  }

  
  