<div id="ecran-home">
    
    <p>home works!</p>


    <br>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique cupiditate alias cum fugiat voluptate soluta, eum
        at, quo modi distinctio rerum libero? Dignissimos sunt voluptatem, totam nobis veniam qui minima! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Qui corrupti inventore dolorum quo, commodi nihil adipisci facere eaque, eos
        soluta quia tenetur officia? Quidem dicta, ex itaque repellendus reprehenderit suscipit. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Optio distinctio consectetur ipsum dolores sequi repudiandae? Dicta blanditiis,
        debitis, aperiam sed qui inventore dolores quo quibusdam nihil et doloribus ipsum ab? Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Debitis harum nulla porro, vitae laudantium cumque beatae magni excepturi autem?
        Quidem iusto sequi ex unde omnis? Aspernatur fugiat consectetur eos maiores.</p>
    </div>
</div>