#ecran-modif-profil{
    top: 4em;
    width: 100%;
    position: relative;
    margin:0px;
    background-image: url(../../../assets/images/studioDisney.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    height: 92.5vh;
    justify-content : center;
    display: flex;
  
  
  }


#ecranconnec{
  height: fit-content;
  width: 32rem;
  margin-top: 5rem;
}

.headerTableau{
  background-color: #dab4daa1;;
  color:black;
}
 

  /* boutons */
  #boutonCancel{
    background-color: #53a1b4;
  }

  #boutonSave{
    background-color: #dab4daa1;
  }